@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #1a1c22;
  min-height: 100%;
}

.wave-bg {
  background: linear-gradient(45deg, #0cb8ff 0%, #0077cc 100%);
  clip-path: polygon(0% 0%,
      100% 0%,
      100% 75%,
      75% 75%,
      75% 100%,
      50% 75%,
      0% 75%);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

.dot-grid::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: radial-gradient(#2a2a2a 1px, transparent 1px);
  background-size: 16px 16px;
  opacity: 0.3;
  pointer-events: none;
}